body{
    background-image: url("../images/hogwartsBackground.png");
}

/* fonts */
@font-face {
    font-family: "ParryHotter";
    src: url("../assets/fonts/HAARP__.ttf"); 
    font-family: "Lumos";
    src: url("../assets/fonts/LumosLatino.ttf");
}
div.col-sm.text-right{
    font-family: 'ParryHotter';
    font-size: 50px;
    color: #ECEC29;
}

div#yourCharacter.col-sm{
    font-family: 'Lumos';
    font-size: 25px;
    color: #ECEC29;
}

div.col-sm{
    font-family: 'Lumos';
    font-size: 25px;
    color: #ECEC29;
}
/* card class */
.card-group{
    opacity: .95;
}
img.card-img-top{
    margin-top: 20px;
}
/* HarryPotter card css */
div.card.col-md-2.harryPotter{
    background-color: #154B85;
}
div#harryPotterCharacter.card.col-md-2{
    background-color: #154B85;
}
div#harryPotterEnemy.card.col-md-2{
    background-color: #154B85;
}
/* Hermione card css */
div.card.col-md-2.hermione{
    background-color: #981956;
}
div#hermioneCharacter.card.col-md-2{
    background-color: #981956;
}
div#hermioneEnemy.card.col-md-2{
    background-color: #981956;
 
}
/* Ron card css */
div.card.col-md-2.ron{
    background-color: #DF914C;
}
div#ronCharacter.card.col-md-2{
    background-color: #DF914C;
}
div#ronEnemy.card.col-md-2{
    background-color: #DF914C; 
}
/* Draco card css */
div.card.col-md-2.draco{
    background-color: #73A457;
}
div#dracoCharacter.card.col-md-2{
    background-color: #73A457;
}
div#dracoEnemy.card.col-md-2{
    background-color: #73A457;
  
}